<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Campus Conqueror</title> 
    <link rel="shortcut icon" href="/img/icon-small.png">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/css/animate.min.css" type="text/css">

     <!-- Fonts -->

    <!-- Custom Fonts -->
    <!-- Custom Fonts -->


    <!-- Custom Fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom CSS For Map -->
    <link href="/css/map.css" rel="stylesheet">

    <!-- Custom CSS For Navbar and Contact -->
    <link href="/css/navbar.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/css/details.css" rel="stylesheet">

</head>


<body id="page-top">

    <div id="navbar">
        <!-- use JQuery to load navigation bar here -->
    </div>

    <div class="brand">{{title}}</div>
    <div class="address-bar">{{location}} | {{time}}</div>


    <!-- Description starts here -->
    <div class="container">
        <div class="row">
            <div class="box">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <!-- <hr> -->
<!--                     <h2 class="intro-text text-center">Celebrate eating real with 
                        <strong>a greener dinner!</strong>
                    </h2> -->
                    <!-- <hr> -->
                    <img class="img-responsive img-border img-left" src="{{pri-img}}" alt="">
                    <hr class="visible-xs">
                    <p>{{details}}</p>
                </div>
                <!-- </div> -->
            </div>
        </div>
        <!-- Description ends here -->





        <!-- Slide Photo Gallery starts here-->
        <div class="{{hidden}}">
        <div class="row">
            <div class="box">
                <div class="col-lg-12 col-md-12 col-sm-12 text-center box-inner ">
                    <div id="carousel-example-generic" class="carousel slide">
                        <!-- Indicators -->
                        
                        <ol class="carousel-indicators hidden-xs">                            
                            {{#each img}}
                                <li data-target="#carousel-example-generic" data-slide-to="{{count}}" class="{{class}}"></li>
                            {{/each}}
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            {{#each img}}
                                <div class="item {{class}}">
                                    <img class="img-responsive img-full" src="{{url}}" alt="">
                                </div>
                            {{/each}}
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- Slide Photo Gallery ends here -->


        <!-- Location, Sign up, Related Events starts here -->
        <div class="row">
            <div class="box location-box">


                <div class="col-lg-7 col-md-7">

                    <div id="details-map" class="map" data-lat="{{lat}}" data-lng="{{lng}}">
                    </div>  
                    <hr>
                    <h2 class="intro-text text-center">{{location}}
                    </h2>
                    <h2 class="intro-text text-center">
                        <strong>{{time}}</strong>
                    </h2>
                </div>



                <div class="col-lg-4 col-md-4">


                    <h2 class="intro-text text-center">
                        Sign up for this event
                    </h2>
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#" class="btn btn-default"><i class="fa fa-plus  fa-fw"></i> <span class="network-name">Sign Up</span></a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-default"><i class="fa fa-twitter fa-fw"></i> <span class="network-name"></span></a>
                        </li>

                        <li>
                            <a href="#" class="btn btn-default"><i class="fa fa-facebook fa-fw"></i> <span class="network-name"></span></a>
                        </li>
                    </ul>
                    <hr>
                    <h2 class="intro-text text-center">
                        Related Events
                    </h2>
                    
                    <h5 class="intro-text text-center">
                        {{#each related}}
                            <a href="#" data-internalid="{{id}}" class="related-events"><strong>{{title}}</strong></a> <br>
                        {{/each}}
                    </h5>

                </div>
            </div>
        </div>
        <!-- Location, Sign up, Related Events end here -->


    </div>
    <!-- /.container -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/js/jquery.easing.min.js"></script>
    <script src="/js/jquery.fittext.js"></script>
    <script src="/js/wow.min.js"></script>


    <!-- load navbar -->
    <script src="/js/index.js"></script>


    <!-- Custom Map JavaScript -->
    <script src="https://maps.googleapis.com/maps/api/js?&signed_in=true"></script>
    <script src="/js/details-map.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
