<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Campus Conqueror</title>	
    <link rel="shortcut icon" href="/img/icon-small.png">

    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/2.3.1/firebase.js"></script>
    
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS some animation effect on the contact info --> 
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">

    <!-- Custom CSS For Nav bar -->
    <link href="css/navbar.css" rel="stylesheet">
    <!-- Custom CSS For Popular Events and Category -->
    <link href="css/index.css" rel="stylesheet">
    
    <!-- HTML5 Shim and Resond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <div id="navbar">
        <!-- use JQuery to load navigation bar here -->
    </div>


    <!-- Header start here -->
    <header>test
        <div class="background-image">
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Find all the school events in one place</h1>
                <hr>
                <p>Professional events, social events, dance, performance, political, seminar, athletics, Cornell sponsored, everything...</p>
                <a href="/newpost" class="btn btn-primary btn-xl page-scroll hvr-shadow-radial">Post Your Events</a>
            </div>
        </div>
        </div>  
    </header>
    <!-- Header ends here -->


    <!-- Popular Events Grid Section -->
    <section id="popular" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Most Popular Events Right Now</h2>
                    <hr class="primary">
                </div>
            </div>

            <div class="row">
            {{#each popular}}
                <div class="col-lg-4 col-md-6 col-sm-6 popular-item">
                    <a href="#" class="event-click hvr-glow" data-internalid="{{id}}">
                        <div class="popular-caption popular-link">
                            <h4 class="title">{{title}}</h4>
                                <p class="text-muted popular-time">{{startingTime}} - {{endingTime}} </p>
                                <!-- <p class="text-muted popular-tag"> tag </p> -->
                                <p class="text-muted popular-location">at {{location}}</p>
                            <div class="container">
                                <img src="{{img}}" class="img-responsive hvr-grow-shadow" alt="">
                            </div>     
                            
                            <p class="text-muted description-text"><br><span class="label label-default tag-label" style="background-color: {{categoryColor}}">{{category}}</span>{{description}}</p>
                        </div>
                    </a>
                </div>
            {{/each}}
            </div>
        </div>
    </section>
    <!-- Popular events end here -->



    <!-- Catagory starts here -->
    <section id="catagory">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Find Interesting Events by Catagory</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row no-gutter">
            {{#each category}}
                <div class="col-lg-4 col-sm-6">
                    <a href="{{url}}" class="category-box">
                        <img src="{{img}}" class="img-responsive" alt="">
                        <div class="category-box-caption" style="background: {{categoryColor}}">
                            <div class="category-box-caption-content">
                                <div class="project-category text-faded">
                                    <!-- Catagory -->
                                </div>
                                <div class="project-name">
                                    {{title}}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {{/each}}
            </div>
        </div>
    </section>
    <!-- Catagory ends here -->

    <div id="contactinfo">
        <!-- Use JQuery to load Contact info here -->
    </div>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>

    <!-- load navbar and contact info -->
    <script src="js/index.js"></script>
    <script src="js/event-click-handler.js"></script>

</body>

</html>
