<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Campus Conqueror</title> 
    <link rel="shortcut icon" href="/img/icon-small.png">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/fonts/font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/css/animate.min.css" type="text/css">

    <!-- Custom CSS For Popular Events and Category -->
    <link href="/css/navbar.css" rel="stylesheet">

    <!-- Custom CSS For Map -->
    <link href="/css/map.css" rel="stylesheet">
    <!-- Custom CSS For Header, Catagory, Footer -->
    <!-- <link rel="stylesheet" href="/css/index.css" type="text/css"> -->
    <script src="/js/firebase.js"></script>



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <div id="navbar">
        <!-- use JQuery to load navigation bar here -->
    </div>


    <!-- start template -->
    <div id="map-canvas"></div>
    <div class="container-fluid" id="main">
        <div class="row">
            <div class="col-xs-7" id="left">
            
<!--                 <div class="row">   
                    <div class="col-xs-2"> </div>
                    <div class="col-xs-8">  -->
                    <div class="main-title">
                        <h2 >Events Happening Today</h2>
                    </div>
<!--                     </div>
                    <div class="col-xs-2"> </div>
                </div> -->
              
                <div class="events-list">
                    <div class="row">             
                        {{#each current}}
                        <div class="col-xs-6">
                            <div class="single-event container hvr-glow" id="{{id}}" ><a href="{{url}}" class="event-click"  data-internalid="{{id}}">
                            
                                <div class="single-event-img"> 
                                    <span class="helper"></span>
                                    <img clsss="single-event-img-src" src="{{img}}" alt="something">
                                    <span class="helper"></span>
                                </div>

                                <div class="single-event-text"> 
                                    <span class="label label-default tag-label" style="background-color: {{categoryColor}}">{{category}}</span>
                                    <p class="time">{{startingTime}} - {{endingTime}}</p> 
                                    <p class="title">{{title}}</p>
                                </div> 

                            </a></div>
                        </div>
                        {{/each}}
                    </div>
                </div>
                
                <hr>      

            </div>
            <div class="col-xs-5"><!--map-canvas will be postioned here--></div>
            
            </div>
    </div>
    <!-- end template -->


    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/js/jquery.easing.min.js"></script>
    <script src="/js/jquery.fittext.js"></script>
    <script src="/js/wow.min.js"></script>

    <!-- Custom Map JavaScript -->
    <script src="https://maps.googleapis.com/maps/api/js?&signed_in=true"></script>
    <script src="/js/map.js"></script>

    <!-- load navbar and contact info -->
    <script src="/js/searchlist.js"></script>

</body>



</html>
