<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CU Events Finder</title>	

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">

    <!-- Custom CSS For Navbar and Contact -->
    <link href="css/navbar.css" rel="stylesheet">
    <link href="css/searchlist.css" rel="stylesheet">

        <!-- Custom Fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <!-- <link href="css/details.css" rel="stylesheet"> -->

</head>

<body id="page-top">

    <div id="navbar">
        <!-- use JQuery to load navigation bar here -->
    </div>
    <section id ="serachlist">
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <h3 class="page-header">
                    Professional Events 
                    <small>comming up</small>
                </h3>


                <div class="events-list">

                    {{#each result}}
                    <div class="single-event container" ><a href="{{url}}">
                    
                        <div class="single-event-img"> 
                            <img clsss="single-event-img-src" src="{{img}}" alt="something">
                        </div>

                        <div class="single-event-text"> 
                            <p class="time">{{time}}</p> 
                            <h4 class="title">{{title}}<br> </h4>
                            <div class="location">{{location}}<br> </div>
                        </div> 

                    </a></div>
                    {{/each}}
                </div>

                <!-- Pager -->
                <ul class="pager">
                    <li class="previous">
                        <a href="#">&larr; Sooner</a>
                    </li>
                    <li class="next">
                        <a href="#">Later &rarr;</a>
                    </li>
                </ul>

            </div>



    <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4 wells">


                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>Events Categories</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#">Professonial</a>
                                </li>
                                <li><a href="#">Cornell Sponsor</a>
                                </li>
                                <li><a href="#">Sport</a>
                                </li>
                                <li><a href="#">Music</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.col-lg-6 -->
                    </div>
                    <!-- /.row -->
                </div>


                <!-- Popular Events -->
                <div class="well">
                    <h4>Popular Events</h4>
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="list-unstyled">
                                <li><a href="#">Steve Jobs -- FREE SNEAK PREVIEW</a>
                                </li>
                                <li><a href="#">Frank Warren: Post Secret</a>
                                </li>
                                <li><a href="#">Nightmare at Edgemoor Lane</a>
                                </li>
                                <li><a href="#">Global Health Experiential Learning Symposium</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.col-lg-6 -->
                    </div>
                    <!-- /.row -->
                </div>



            </div>
            <!-- Side bar ends here -->


        </div>
        <!-- /.row -->

    </div>
    <!-- container -->
    </section>



    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>

    <!-- Custom Header, Footer, Catagory Theme JavaScript -->
    <script src="js/searchlist.js"></script>


</body>

</html>
